services:
  postgres:
    image: postgres:16-alpine
    container_name: auth-jwt-postgres
    environment:
      POSTGRES_DB: auth_jwt_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./src/main/resources/ddl.sql:/docker-entrypoint-initdb.d/init.sql:ro
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U admin -d auth_jwt_db" ]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: auth-jwt-app
    ports:
      - "8080:8080"
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: auth_jwt_db
      DB_USERNAME: admin
      DB_PASSWORD: admin
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres_data:
